@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  /* padding: 0; */
  margin: 0;
}
/* html,
body,
#root {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
} */
/* .app-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px;
} */
/* nav {
  width: 100vw;
  height: 30px;
  background-color: rgb(190, 164, 147);
} */

h1 {
  color: rgba(151, 97, 36, 0.816)
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.shopForm {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.intro {
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
}

.body {
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns with equal width */
  gap: 16px; /* Optional: Adjust the gap between grid items as needed */
  width: 100%;
}

.notes {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

/* 
#question {
  margin-top: 10px;
} */
