/* parent container*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container for the cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  gap: 20px; /* Gap between cards */
  padding: 20px; /* Padding around the grid */
  justify-items: center; /* Center the items horizontally */
  height: 70vh;
  width: 150vh;
  margin: 0 auto;
  max-height: 70vh;
}

/* Individual card */
.shop-card {
  border: 1px solid #4f2d2deb;
  background-color: #bea493;
  border-radius: 8px;
  padding: 90px 30px;
  box-sizing: border-box;
  width: 100%; /* Make each card take full width of the grid column */
  justify-content: center;
  align-items: center;
  max-height: 70vh;
}

.shop-card h4 {
  font-size: 23px;
}

@media (max-width: 768px) {
  .shop-card {
    width: calc(
      50% - 40px
    ); /* Adjust to fit two cards in a row for smaller screens */
  }
}

@media (max-width: 480px) {
  .shop-card {
    width: calc(
      100% - 40px
    ); /* Adjust to fit one card in a row for small screens */
  }
}

.shopName {
  color: #190e09;
}
