.body{
margin: 15px auto;
display: flex;
grid-template-columns: repeat(2, 1fr);
gap: 16px; 
width: 100%;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 2%;
}

button {
    align-items: center;
}

.loginButton{
    display: flex;
    margin: 0;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    background-color: #24292e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.loginButton:hover {
    background-color: #1a1e21;
  }